:root {
    --font-main: 'Space Mono', monospace;
    --font-secondary: 'Space Mono', monospace;
    --font-scale: .9em;
}

p,
ul,
li,
table,
tr,
th {
    margin: 0cm;
    margin-bottom: .0001pt;
    line-height: 20px;
    color: rgb(210, 115, 138);
}

a:link {
    color: rgb(210, 115, 138);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: pink;
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    text-align: left;
    background-image: url("img/image001.gif");
}

h1 {
    color: rgb(210, 115, 138);
}

.main {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 10px;
    text-align: justify;
}

.prep {
    border: 1px solid white;
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgba(255, 247, 231, 0.6);
}

.list {
    padding: 10px;
    border: 1px solid white;
    line-height: 1.6;
    background-color: rgba(255, 247, 231, 0.6);
}

.th2 {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    text-align: left;
    text-decoration: underline;
    padding-left: 50px;
}